<!DOCTYPE html>
<html>
    <head>
	    <link href ="css/form.css" rel ="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class ="row main">
                <div class="main-login main-center">
                <h4>Please fill out your informations below.</h4><hr>
                    <form action ="/phonebook" method ="post">
                        <div class="form-group">
                            <label for="full_name" class="cols-sm-2 control-label">Full Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <input type ="text" class="form-control" id="full-name" required name ="full_name" placeholder ="Full Name">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="Street_address" class="cols-sm-2 control-label">Street Address</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <input type ="text" class="form-control" id="street_address" required name ="street_address" placeholder ="Street Address">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="City" class="cols-sm-2 control-label">City</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <input type ="text" class="form-control" id="city" required name ="city" placeholder ="City">
                                </div>
                            </div>
                        </div>
                
                        <div class="form-group">
                            <label for="first_name" class="cols-sm-2 control-label">State</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <input type ="text" class="form-control" id="state" required name ="state" placeholder ="State">
                                </div>
                            </div>
                        </div>
                  
                        <div class="form-group">
                            <label for="first_name" class="cols-sm-2 control-label">Zip Code</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <input type ="text" class="form-control" id="zip-code" required name ="zipcode" placeholder ="Zipcode">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="first_name" class="cols-sm-2 control-label">Cell Phone</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <input type ="text" class="form-control" id="cell-phone" required name ="cell_phone" placeholder ="Cell Phone">
                                </div>
                            </div>
                        </div>
                
                        <div class="form-group">
                            <label for="first_name" class="cols-sm-2 control-label">Work Phone</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <input type ="text" class="form-control" id="work-phone" required name ="work_phone" placeholder ="Work Phone">
                                </div>
                            </div>
                        </div>
                    
                    <div class="form-group">
                        <input id="button" class="btn btn-primary btn-lg btn-block login-button" type ="submit" value ="Submit">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>