<!DOCTYPE html>
<html>
    <head>
	    <title>phonebookapp</title>
	    <link href ="css/style.css" rel ="stylesheet"> <!-- links the css folder -->
    </head>
    <h2>Enter your Informations</h2><p>
<body> 
    <div class ="wrapper"><br>
    <form action ="/phonebook" method ="post"><p>
        First Name: <input type ="text" name ="first_name" autofocus="autofocus" placeholder ="First Name">
        Last Name: <input type ="text" name ="last_name" placeholder ="Last Name"><p>
        <div id ="flex0">Street Address: <input type ="text" name ="street_address" placeholder ="Street Address"><p></div>
        <div id ="flex">City: <input type ="text" name ="city" placeholder ="City"><p></div>
        <div id ="flex1">State: <input type ="text" name ="state" placeholder ="State"><p></div>
        <div id ="flex2">Zip Code: <input type ="text" name ="zipcode" placeholder ="Zipcode"><p></div>
        <div id ="flex3">Cell Phone: <input type ="text" name ="cell_phone" placeholder ="000-000-0000"><p></div>
        <div id ="flex4">Home Phone: <input type ="text" name ="home_phone" placeholder ="Home Phone"><p></div> 
        <div id ="flex5">Work Phone: <input type ="text" name ="work_phone" placeholder ="Work Phone"><p></div><br> 
        <hr><p>
        <input class ="sub" type ="submit" value ="Submit">
    </form>
    <hr>
    </div>
    <div class ="footer">
    <p>www.information.org</p>
    </div>
</body>
</html>