<form action ="/phonebook" method ="post">
    <input type ="text" name ="first_name"> first name
    <input type ="text" name ="last_name">  last name
    <input type ="text" name ="street_address"> street address
    <input type ="text" name ="city">  city
    <input type ="text" name ="zipcode">  zipcode
    <input type ="text" name ="cell_phone"> cell phone
    <input type ="text" name ="home_phone"> home phone
    <input type ="text" name ="work_phone"> work phone
    <input type ="submit" value ="submit">
</form>