<!DOCTYPE html>
<html>
    <head>
	    <title>phonebookapp</title>
	    <link href ="css/style.css" rel ="stylesheet"> <!-- links the css folder -->
    </head>
    <h2>Enter your Informations</h2><p>
<body> 
    <div class ="wrapper"><br>
    <form action ="/phonebook.php" accept ="image/gif, image/jpeg" method ="post"><p>
        First Name: <input type ="text" autofocus="autofocus" placeholder ="First Name">
        Last Name: <input type ="text" placeholder ="Last Name"><p>
        <div id ="flex0">Street Address: <input type ="text" placeholder ="Street Address"><p></div>
        <div id ="flex">City: <input type ="text" placeholder ="City"><p></div>
        <div id ="flex1">Zip Code: <input type ="text" placeholder ="Zipcode"><p></div>
        <div id ="flex2">Cell Phone: <input type ="text" placeholder ="Cell Phone"><p></div>
        <div id ="flex3">Home Phone: <input type ="text" placeholder ="Home Phone"><p></div> 
        <div id ="flex4">Work Phone: <input type ="text" placeholder ="Work Phone"><p></div> 
        <div id ="flex5">Your Picture: <input type ="file" name ="pic"><p></div>
        <hr><p>
        <input class ="sub" type ="submit" value ="Submit">
    </form>
    <hr>
    <a href ="index1">After hitting Submit.Click here for your detail information</a>
    </div>
    <div class ="footer">
    <p>www.information.org</p>
    </div>
</body>
</html>