<h2>Enter your Informations</h2>
<form action ="/phonebook" method ="post">
    First Name: <input type ="text" name ="first_name">
    Last Name: <input type ="text" name ="last_name"><br>
    Street Address: <input type ="text" name ="street_address"><br> 
    City: <input type ="text" name ="city"><br>
    Zip Code: <input type ="text" name ="zipcode"><br>
    Cell Phone: <input type ="text" name ="cell_phone"><br>
    Home Phone: <input type ="text" name ="home_phone"><br> 
    Work Phone: <input type ="text" name ="work_phone"><br> 
    <hr>
    <input type ="submit" value ="submit">
</form>