<!DOCTYPE html>
<html>
    <head>
	    <title>phonebookapp</title>
	    <link href ="css/style.css" rel ="stylesheet"> <!-- links the css folder -->
    </head>
    <h2>Choose your choice</h2><p>
    <body>
        <div>
            <a href ="index">Chick here to submit your information</a><br>
            <a href ="index1">Click here for your detail information</a><br>
            <a href ="search">Click here to search information</a><br>
        </div>
        <div>
        <%= yield %>
        </div>
        <div class ="footer">
            <p>www.information.org</p>
        </div>
    </body>
</html>