<!DOCTYPE html>
<html>
    <head>
	    <title>phonebookapp</title>
	    <link href ="css/style.css" rel ="stylesheet"> <!-- links the css folder -->
    </head>
    <body>
        <div>
        <%= yield %>
        </div>
        <div class ="footer">
            <p>www.information.org</p>
        </div>
    </body>
</html>