<!DOCTYPE html>
<html>
    <head>
	    <title>phonebookapp</title>
	    <link href ="css/style.css" rel ="stylesheet"> <!-- links the css folder -->
    </head>
    <!-- <style>
        nav {background: red;}
        nav ul {background: green; padding: 0; margin: 0; }
        nav ul li {background: blue; }
        nav ul li a {background: orange; }
        nav ul li :hover > a { background: rgba(255,255,255,0.2)}
    </style> -->
    <body>
        <!-- <nav>
            <ul>
                <a href="#">MENU</a>
            <ul>
                <li><a href="#">Form</a></li>
                <li><a href="#">Lists</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </nav> -->
        <div>
        <%= yield %>
        </div>
        <div class ="footer">
            <p>www.information.org</p>
        </div>
    </body>
</html>