<!DOCTYPE html>
<html>
    <h2>Choose your choice</h2><p>
    <body>
        <div><br><br><br><br><br><div><br><br><br><br><br><div><br><br><br>
            <a href ="index">Chick here to submit your information</a><br>
            <a href ="index1">Click here for your detail information</a><br>
            <a href ="search">Click here to search information</a><br>
        </div>
        <div><br><br><br><br><br><br><div><br><br><br><br><br><br><br>
    </body>
</html>