<!DOCTYPE html>
<html>
    <head>
        <link href ="css/style.css" rel ="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Phonebook</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right" method="post" action="results">
                    <div class="form-group">
                    <select class="form-control" type="text" name="find">
                        <option value="full_name">Full Name</option>
                        <option value="street_address">Street Address</option>
                        <option value="city">City</option>
                        <option value="state">State Abbreviation</option>
                        <option value="zipcode">Zip Code</option>
                        <option value="cell_phone">Cell Phone</option>
                        <option value="work_phone">Work Phone</option>
                    </select>
                    </div>
                    <div class="input-group stylish-input-group">
                        <input class="form-control" type="text" placeholder="Type here" name="findcontacts">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
        <!--options-->
        <div id="options" class="options">
            <div class="container">
                <h2><i class="fa fa-mobile" aria-hidden="true"></i> Choose following options</h2><hr>
                    <p>Please read each options and filled out your credentials.</p><br>
                    <a class ="btn btn-primary1" id="one" href ="index">Submit Information</a>
                    <a class ="btn btn-primary2" id="two" href ="index1">View Information</a>
                    <a class ="btn btn-primary3" id="three" href ="search">Advanced Search</a><br><br><br>
            </div>
        </div>
        <!--footer-->
        <footer>
            <div id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-0 col-md-0">
                        <p><i class="fa fa-user" aria-hidden="true"></i> Tula Subba</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> tula.subba23@gmail.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 412-000-0000</p>
                    </div>
                </div>
            </div>
        </div>
</div>
        </footer>
    </body>
</html>