<!DOCTYPE html>
<html>
    <head>
	    <title>phonebookapp</title>
	    <link href ="css/style.css" rel ="stylesheet"> <!-- links the css folder -->
    </head>
    <h2>Choose your choice</h2><p>
    <body>
        <div><br><br><br><br><br><div><br><br><br><br><br><br><br><br><div>
            <a class ="first" href ="index">Chick here to submit information</a>
            <a class ="second" href ="index1">Click here to view information</a>
            <a class ="third" href ="search">Click here to search information</a>
        </div>
        <div><br><br><br><br><br><br><div><br><br><br><br><br><br><br>
    </body>
</html>