<!DOCTYPE html>
<html>
    <head>
        <link href ="css/style.css" rel ="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Phonebook</a>
                </div>
                <form class="navbar-form navbar-right" method="#" action="#">
                    <div class="form-group">
                        <input class="form-control" type="text" name="findcontacts" placeholder="Search">
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" name="submit" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <!--options-->
        <div id="options" class="options">
            <div class="container">
                <h2><i class="fa fa-mobile" aria-hidden="true"></i> Choose following options</h2><hr>
                    <p>Please read each options and filled out your credentials.</p><br>
                    <a class ="btn btn-primary1" id="one" href ="index">Submit Information</a>
                    <a class ="btn btn-primary2" id="two" href ="index1">View Information</a>
                    <a class ="btn btn-primary3" id="three" href ="search">Advanced Search</a><br><br><br>
            </div>
        </div>
        <!--footer-->
        <footer>
            <div id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-0 col-md-0">
                        <p><i class="fa fa-user" aria-hidden="true"></i> Teela Ram Subba</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> teela.subba1991@gmail.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 4124198089</p>
                    </div>
                </div>
            </div>
        </div>
</div>
        </footer>
    </body>
</html>