* {
	padding: 0;
	margin: 0;
}
body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important; 
	-webkit-font-smoothing: antialiased !important;
}
li {
	list-style: none;
	display: inline-block;
}
a {
	text-decoration: none;
	transition: all 500ms ease-in-out;
}
a:hover,
a:active {
	text-decoration: none;
}
h1, 
h2,
h4 {
	font-family: 'PT Sans Narrow', Aerial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
p {
	font-size: 20px;
	line-height: 21px;
}
.btn {
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-decoration: uppercase;
}
.btn:hover {
	background: #ededed !important;
	color: #3c3c3c !important;
}
/*navigation*/
.navbar li {
	margin-left: 30px;
}
.options a {
    color: #9c090f;
    padding: 10px;
    background: #ffffff;
    font-size: 18px;
    margin-top: 30px;
    border: solid 1px #000;
}
.stylish-input-group .input-group-addon {
    background: white !important; 
}
.stylish-input-group .form-control {
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
.options h2 {
	margin-bottom: 50px;
}
#one, 
#two,
#three{
	color: #000;
}

/*results*/
table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	text-align: left;
	padding: 5px;
}
@media(max-width: 480px) {
    .footer {
    	margin-left: 12px;
    }
    p {
    	font-size: 17px;
    }
    #one,
    #two,
    #three {
    	width: 188px;
    }
}














