h2 {
	background-color: orange;
	margin: 10px;
	border-radius: 70px 70px;
}
h1 {
	margin: 0px;
}
body {
	font-size: 1.2em;
	background: linear-gradient(powderblue, red);
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
	margin: 5px;
}
.wrapper {
	background: linear-gradient(lightgreen, white);
	border-radius: 70px 70px 70px 70px;
	margin: 0 auto;
	margin-top: 20px;
	height: 660px;
	width: 1100px;
	background-repeat: no-repeat;
	opacity: 0.9;
}
input {
	resize: horizontal;
	width: 150px;
	height: 19px;
	padding: 0 10px;
	line-height: 18px;
	outline: none;
}
#flex0 {
	margin-left: 0px;
}
#flex {
	margin-left: 80px;
}
#flex1 {
	margin-left: 40px;
}
#flex2 {
	margin-left: 30px;
}
#flex3 {
	margin-left: 15px;
}
#flex4 {
	margin-left: 20px;
}
.sub {
	font-size: 1.4em;
	height: 40px;
	background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
	border-radius: 2px;
	letter-spacing: 1px;
}
table {
    margin: 0;
	border: solid 1px;
	border-size: 1px;
	margin-left: 40px;
}
th {
	margin: 0;
	border: solid;
	padding: 10px;
}
td {
	margin: 0;
	border: solid;
}
.footer {
	color: white;
	background-color: black;
	border-radius: 70px 70px;
	margin-left: 10px;
	margin-right: 10px;
}